:root {
	--header-height:40px;
	--half-header-height:calc( var(--header-height) / 2 );
	--header-control-height:calc( var(--header-height) * 0.62 );
	--data-table-head-font-size:0.9em;
	--data-table-body-font-size:0.9em;
	--data-table-body-editable-font-size:0.95em;
	--editbox-font-size-lg:1rem;
	--editbox-font-size:0.9rem;
	--editbox-font-size-sm:0.85rem;
	--ok-color: #4f4f4f;
	--cancel-color: #bf2f2f;
	--error-color: #b2f2f2;
	--button-color:#ffffff;
	--lightgray-color:#dfdfdf;
	--lightlightgray-color:#f4f4f4;
	--gray-color:#7f7f7f;
	--darkgray-color:#4f4f4f;
	--dark-color:#2f2f2f;
	--black-color:#000000;
}

	* { box-sizing: border-box;	}
	div { margin:0; padding:0; }

	body { 
		background-color:white; scroll-behavior:smooth;
		font-family:arial; margin:0; padding:0;
	}
	
	div { box-sizing: border-box; margin:0px; padding:0px; }
	table { box-sizing: border-box; margin:0px; padding:0px; }
	td { padding:0px; }
	a {
		text-decoration:none; color:white;
	}

	#header {
		height:var(--header-height); width:100%; min-width:100%; margin:0; padding:0; display:block; box-sizing:border-box;
		border-bottom:2px solid #bfbfbf; 
		background-image:linear-gradient(to right, rgb(120,120,120), rgb(20,20,20), rgb(120,120,120));	
	}
	
	#header::after {
  		content: ""; clear: both; display: table;
	}

	#projectDetails {
		max-width: 80%; height: var(--header-height); overflow: hidden; margin:0px; display:block; float:left;
		padding: 2px 2px 2px 12px; text-align:left; font-size:11px; color:white;
	}
	#projectName {
		width:100%; height:var(--half-header-height); margin:0px; padding-top:2px; display:inline-block; 
		white-space:nowrap; text-overflow:ellipsis; text-align:left; font-size:16px;
	}
	#projectTimeAndVersion {
		width:100%; height:var(--half-header-height); display:inline-block; 
		white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
		font-family:courier; text-align:left; font-size:11px; margin:0; padding:2px;
	}

	#menu {
    width:var(--menu-width); height:var(--header-height); margin:0px 0px 0px 0px; padding:0px; 
    display:block; float:left; text-align:left; 
	}

	#dropdown {
    position:relative; display: inline-block; 
	}

	#dropdownButton {
			display:block; float:left; height:var(--header-height); max-height:var(--header-height); 
			margin:0px; padding:0px 2px 0px 2px; border:none; 
			background-color:rgba(0,0,0,0); color: #dfdfdf; cursor: pointer; font-size:var(--half-header-height);
	}

	#dropdownContent {
			z-index: 1000; display: none; position: absolute; top:var(--header-height); width: 20vw;
			margin:0; padding:2px; background-color: rgba(70, 70, 70, 0.8); 
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); text-align:left;
	}
	@media only screen and (max-width: 1200px) {
		#dropdownContent { width:25vw; }
	}
	@media only screen and (max-width: 800px) {
		#dropdownContent { width:50vw; }
	}
	@media only screen and (max-width: 600px) {
		#dropdownContent { width:75vw; }
	}

	#dropdownContent div {
			font-size:var(--two-fifth-header-height); cursor:pointer; padding:4px; color:#dfdfdf;
	}

	#dropdownContent div:hover { background-color:#2f2f2f; color:#dfdfdf; }
	#dropdown:hover #dropdownButton { color: white; }
	/* #dropdown:hover #dropdownContent { display: block; } */
	/* #dropdownButton:hover #dropdownContent { display: block; } */

	#dropdownContent div img {
			height:28px; padding:1px; border: 1px solid #7f7f7f; border-radius:5px;
	}

	#menuUser {
			border-bottom: 1px dotted gray; height: auto !important; padding: 8px 4px 8px 4px !important;
	}
	#menuUserName { color:#efefef; }

	#containerDiv {
		width:100%; overflow:auto; margin:0; padding:0; box-sizing:border-box; text-align:left;
	}

	#dataTableHead th { 
		top: 0 !important; position: sticky !important; padding: 2px;
		background-color: #fefefe; border-right: 1px solid #efefef; border-bottom: 1px solid #efefef;
		color: #7f7f7f; font-size: var(--data-table-head-font-size); font-weight: normal;
		text-align: center; vertical-align: top;
	}

	#dataTableBody td { 
		font-size: var(--data-table-body-font-size); 
		font-weight: normal;
		text-align: center;
		vertical-align: top;
		border-right: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
		padding: 2px;
	}

	#dataTableBody td.dataTableEditable {
		cursor:pointer !important; /*position:relative !important;*/ 
		border-bottom: 1px solid #afafaf !important;  
		padding-right: 12px !important; 
		font-size: var(--data-table-body-editable-font-size); font-style: italic !important; 
	}
	#dataTableBody td.dataTableEditable .dataTableEditableMark {
		/*position: absolute; bottom:0; right:0;*/
		color:#7f7f7f; font-size: 8px; text-align: left; 
	}

	button { box-sizing:border-box; margin:0px; border:1px dotted var(--darkgray-color); 
		border-radius:4px; background-color:var(--lightlightgray-color); 
		cursor: pointer; text-align:center; }

	button.ok { border-color:var(--ok-color); color:var(--ok-color); font-size:var(--editbox-font-size); }
	button.ok:hover { background-color: var(--ok-color); color: white; }

	button.cancel { border-color: var(--ok-color); color: var(--ok-color); font-size:var(--editbox-font-size); }
	button.cancel:hover { background: var(--ok-color); color: white; }

	button.cancelDisabled { border-color: var(--ok-color); color: var(--lightgray-color); font-size:var(--editbox-font-size); }

	#blackOutBox {
		position:absolute; display:none; left:0; top:0; min-width:100%; min-height:100%; background-color:#4f4f4f; opacity:0.35;
	}

	#editBoxCancel {
		width:80%; box-sizing:border-box; padding:12px; margin:0px 10% 18px 10%; font-size:16px;
	}

	#editBox { 
		position:absolute; left:0; top:(var(--header-height));		
		display:none; width:100%; height:calc(100vh - var(--header-height)); max-height:calc(100vh - var(--header-height) - 8);
		box-sizing:border-box; margin:0px; padding:0px 0px 0px 0px;  
	}
	
	#editBoxContent { 
		box-sizing:border-box; position:absolute; overflow:auto; display:block; margin:0px; padding:12px 0px 0px 0px; 
		width:100%; min-width:100%; max-width:100%; min-height:100%; background-color:#ffffff;
	}
	#editBoxContent::after {
  		content: ""; clear: both; display: table;
	}
	#editBoxPane1, #editBoxPane2 { 
		box-sizing:border-box; position:relative; margin:0px; 
		float: left; text-align:left; vertical-align:top; 
		background-color:#ffffff; font-size:var(--editbox-font-size); 
	}
	#editBoxPane2 div {
		padding:4px;
	}
	@media screen and (max-width: 800px) {
		#editBoxContent {
			overflow:unset; 
		}
		#editBoxPane1 { 
			width:100%; max-width:100%; min-width:100%; float:none;
		}
		#editBoxPane2 { 
			width:100%; max-width:100%; min-width:100%; float:none;
		}
	}
	@media screen and (min-width: 800px) {
		#editBoxPane1 { 
			width:65%; max-width:65%; min-width:65%; 
		}
		#editBoxPane2 { 
			width:35%; max-width:35%; min-width:35%; padding-left:10px;
		}
	}

	#editBoxMessage {
		box-sizing: border-box; margin:0px 0px 12px 0px; width:100%; padding:4px; 
		font-size:var(--editbox-font-size-sm); text-align:center; font-style:italic; color:#4f4f4f;
	}

	#editBoxDetails { box-sizing: border-box; margin:0px; padding:4px; text-align:left; color:#4f4f4f; font-size:var(--editbox-font-size-sm); }

	#editBoxInputs { box-sizing: border-box; margin:0px; text-align:right; }		

	#editBoxInputs .editBoxInputContainer {
		box-sizing: border-box; margin:0px; width:100%; min-width:100%; max-width:100%; margin-top:8px;
	}
	#editBoxInputs .editBoxInputContainer::after {
  		content: ""; clear: both; display: table;
	}

	#editBoxInputs .editBoxPromptDiv {
		position:relative; 
		box-sizing: border-box; margin:0px; 
		width:45%; color:#7f7f7f; float:left; padding:4px 4px 0px 4px; text-align:right; font-size:1rem; 
	} 
	#editBoxInputs .editBoxInputDiv { 
		position:relative;
		box-sizing: border-box; margin:0px; padding:0px 4px 4px 4px; 
		width:55%; float:left; display:block; font-size:1rem; 
	}		

	#editBoxInputs textarea.editBoxInput {
		box-sizing: border-box; margin:0px; 
		width:100%; padding:4px; font-size:0.95rem;  
		color:blue;
	}
	#editBoxInputs input.editBoxInput {
		box-sizing: border-box; margin:0px; 
		width:100%; padding:4px; font-size:1.0rem; border-radius:4px; border:1px dotted #d0d0d0;		
		color:blue;
	}
	#editBoxInputs input.editBoxInputDateTime {
		left:0; top:0; box-sizing: border-box; margin:0px; text-align:left;
		width:100%; padding:4px 4px 4px 2em; font-size:1.0rem; border-radius:4px; border:1px dotted #d0d0d0;	
		color:blue;
	}
	#editBoxInputs .editBoxInputCallCalendar {
		position:absolute; left:0.3em; top:0.00em; box-sizing: border-box; margin:0px; padding:4px 4px 4px 4px; cursor:pointer; 
		max-width:20%; border-radius:4px; border:0px;  
		background-color:#e0e0e0; font-size:1.0em; 
		font-weight:bold;
	}

	@media screen and (max-width: 800px) { 
		#editBoxInputs .editBoxPromptDiv { 
			width:100%; min-width:100%; text-align:left; font-size:var(--editbox-font-size);
		}                          
		#editBoxInputs .editBoxInputDiv { 
			width:100%; min-width:100%;  
		}
		#editBoxInputs textarea { min-width:100%; }
		#editBoxInputs input { min-width:100%; }
	}


	h1 { margin:2% 1% 1% 1%; font-size:140%; color:var(--dark-color); font-variant:small-caps; }

	dim { border-color:var(--lightgray-color); color:var(--lightgray-color); }

	.ok-color { color: var(--ok-color); }
	.cancel-color { color: var(--cancel-color); }
	.error-color { color: var(--error-color); }	

	.keyword {
		background-color: var(--lightgray-color); padding:0px 4px 0px 4px; border-radius:4px; font-style:normal;
	}

	input.noArrow[type=number]::-webkit-inner-spin-button, 
	input.noArrow[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	  step:'any';
	}

	select.noArrow::-ms-expand { display: none; }
	select.noArrow {
	    -webkit-appearance: none;
	    appearance: none;
	}

	.helpText {
		padding:24px 20vw 0px 20vw; text-align:left; line-height:150%; font-size:14px;
	}

	.helpText div {
		margin-bottom:24px;
	}

	.helpText div img {
		display:inline-block; height:20px; position:relative; top:4px;
	}

